
/* stylelint-disable */

.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    background: #B22D74;
    box-shadow: 11px 12px 15px rgba(60, 92, 111, 0.32);
    border-radius: 60px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    opacity: 0.9;
    padding: 19.5px 42.5px;
    border: 0;
    text-align: center;
    font-weight: 500;

    &:hover {
        opacity: 1;
        color: #fff;
        text-decoration: none;
        transform: scale(.98);
    }
}

.btn-center {
    text-align: center;
}

@media (max-width: 480px) {
    .btn {
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
