
.section {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #fff;
    background-repeat: no-repeat;

    &_face {
        background-color: #FFF2EF;
    }

    &_look {
        background-color: #591E3D;
    }

    &_order {
        overflow: hidden;
    }

    &_order {
        background-color: #FFF2EF;
    }

    &_pay {
        background-color: #FFF2EF;
    }

    &_courier {
        padding-top: 130px;
        padding-bottom: 130px;
        background-image: url(../media/courier/human.jpg);
        background-position: calc(50% - 260px) top;
        background-color: #B22D74;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &_contacts {
        background-color: #B22D74;
    }

    &_message {
        background-color: #FFF2EF;
    }

    &_blog {
        background-color: #FFF2EF;
    }
}

.section__title {
    margin-bottom: 30px;
    font-size: 64px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
}

@media (max-width: 1024px) {
    .section {
        padding-top: 40px;
        padding-bottom: 40px;

        &_courier {
            padding-top: 120px;
            padding-bottom: 120px;
            background-position: calc(50% - 180px) top;
        }
    }

    .section__title {
        font-size: 44px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-top: 30px;
        padding-bottom: 30px;

        &_courier {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    .section__title {
        font-size: 38px;
    }
}

@media (max-width: 480px) {
    .section {
        &_courier {
            padding-bottom: 300px;
            background-position: center bottom;
            background-size: 190px;
        }
    }

    .section__title {
        font-size: 30px;
    }
}
