<section class="section section_face">
    <div class="container">
        <div class="face">
            <h1 class="face__title"><mark>Hondrostrong</mark> Свобода движения в любом возрасте!</h1>
            <div class="face__price">Цена: <mark>749 MXN</mark></div>
            <div class="face__btn"><a class="btn" href="order.html">заказать сейчас</a></div>
            <div class="face__list">
                <div class="face__row">
                    <div class="face__item"> ускоряет восстановление тканей</div>
                    <div class="face__item">способствует уменьшению боли в суставах</div>
                </div>
                <div class="face__row">
                    <div class="face__item">поддерживает эластичность связок</div>
                    <div class="face__item">стимулирует вывод солей </div>
                </div>
                <div class="face__product"></div>
            </div>
        </div>
    </div>
</section>