
.face {
    position: relative;
    padding-bottom: 300px;
}

.face__title {
    margin-bottom: 15px;
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    color: #591E3D;

    mark {
        display: block;
        font-size: 72px;
        font-weight: 500;
        color: #B22D74;
        letter-spacing: -0.01em;
    }
}

.face__price {
    margin-bottom: 30px;
    font-weight: 500;
    color: #591E3D;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;

    mark {
        color: #B22D74;
    }
}

.face__btn {
    text-align: center;
}

.face__row {
    display: flex;
    justify-content: space-between;

    & + & {
        margin-top: 30px;
    }

    &:nth-child(2) {
        .face__item {
            width: 150px;
        }
    }
}

.face__item {
    flex: 0 0 auto;
    width: 250px;
    padding-top: 63px;
    font-size: 18px;
    font-weight: 300;
    background-image: url("../media/face/icon.png");
    background-repeat: no-repeat;
    background-position: right top;
    text-align: right;

    &:nth-child(2) {
        background-position: left top;
        text-align: left;
    }
}

.face__product {
    position: absolute;
    left: 50%;
    margin-left: -400px;
    bottom: 0;
    width: 800px;
    height: 500px;
    background-image: url("../media/product.png");
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 1024px) {
    .face {
        position: static;
        padding-bottom: 0;
    }

    .face__product {
        width: 500px;
        height: 300px;
        margin-left: 0;
        bottom: auto;
        top: 50%;
        left: auto;
        right: -70px;
        transform: translateY(-50%);
    }

    .face__btn {
        margin-bottom: 30px;
    }

    .face__row {
        flex-direction: column;
        justify-content: flex-start;

        & + & {
            margin-top: 15px;
        }
    }

    .face__list {
        position: relative;
        padding-right: 410px;
    }

    .face__item {
        display: flex;
        align-items: center;
        width: 100% !important;
        padding: 0;
        padding-left: 65px;
        min-height: 53px;
        background-position: left top;
        text-align: left;

        & + & {
            margin-top: 15px;
        }
    }
}

@media (max-width: 768px) {
    .face__list {
        padding-right: 0;
    }

    .face__product {
        margin-top: 15px;
        width: 100%;
        position: static;
        transform: translate(0, 0);
    }

    .face__row {
        flex-direction: row;
    }

    .face__item {
        align-items: flex-start;
        width: 50% !important;
        padding: 60px 15px 15px 15px;
        background-position: center top !important;
        text-align: center !important;

        & + & {
            margin-top: 0;
        }
    }

    .face__title {
        font-size: 24px;

        mark {
            font-size: 42px;
        }
    }
}

@media (max-width: 480px) {
    .face__product {
        max-width: 280px;
        height: 196px;
        margin-right: auto;
        margin-left: auto;
        background-image: url("../media/product.jpg");
    }
    
    .face__item {
        font-size: 16px;
    }

    .face__title {
        font-size: 20px;

        mark {
            font-size: 32px;
        }
    }
}