
.look {
    position: relative;
    padding-right: 370px;
}

.look__title {
    margin-bottom: 60px;
    font-size: 64px;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 0.095em;

    mark {
        position: relative;
        z-index: 1;
        color: inherit;

        &::before {
            position: absolute;
            z-index: -1;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 36px;
            background-color: #3F0D27;
            content: '';
        }
    }
}

.look__list {
    max-width: 400px;
}

.look__item {
    display: flex;
    align-items: center;
    min-height: 53px;
    padding-left: 80px;
    color: #FFF2EF;
    font-size: 18px;
    background-position: left top;
    background-repeat: no-repeat;
    background-image: url("../media/look/icon.png");

    & + & {
        margin-top: 15px;
    }
}

.look__media {
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 1024px) {
    .look__title {
        font-size: 36px;
    }

    .look__media {
        max-width: 280px;
    }
}

@media (max-width: 768px) {
    .look {
        padding-right: 0;
    }

    .look__media {
        margin-top: 30px;
        position: static;
        max-width: 320px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 480px) {
    .look__title {
        font-size: 28px;
    }
}