
.sostav {
    position: relative;
}

.sostav__title {
    position: relative;
    text-align: center;

    p {
        position: relative;
        z-index: 1;
        display: inline-block;
        font-size: 64px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.095em;
        color: #591E3D;
        padding-right: 20px;
        padding-left: 20px;

        &::before {
            position: absolute;
            z-index: -1;
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 29px;
            background-color: #ECD6E2;
            content: '';
        }
    }
}

.sostav__body {
    display: flex;
    flex-wrap: wrap;
}

.sostav__item {
    width: 50%;
    flex: 0 0 auto;
    margin-top: 30px;

    &:nth-child(2n) {
        text-align: right;

        .sostav__media::before {
            left: auto;
            right: 80%;
        }
    }
}

.sostav__box {
    display: inline-block;
    max-width: 300px;
}

.sostav__media {
    position: relative;

    &::before {
        position: absolute;
        left: 80%;
        top: 60%;
        content: '';
        width: 105px;
        height: 2px;
        background-color: #A28D98;
    }
}

.sostav__name {
    margin-bottom: 8px;
    font-weight: 500;
    color: #B22D74;
    font-size: 24px;
}

.sostav__description {
    font-size: 18px;
}

.sostav__product {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 1024px) {
    .sostav__media::before {
        display: none;
    }

    .sostav__product {
        max-width: 220px;
    }
    
    .sostav__box {
        max-width: 240px;
    }

    .sostav__item {
        &:nth-child(1) {
            .sostav__box {
                max-width: calc(100% - 15px);
            }
        }

        &:nth-child(2) {
            .sostav__box {
                max-width: calc(100% - 15px);
            }
        }
    }
}

@media (max-width: 768px) {
    .sostav__box {
        width: calc(100% - 15px) !important;
    }

    .sostav__item {
        width: 50%;
        text-align: center !important;
    }

    .sostav__name {
        font-size: 18px;
    }

    .sostav__description {
        font-size: 16px;
    }

    .sostav__product {
        max-width: 140px;
        position: static;
        transform: translateX(0);
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
    }

    .sostav__title p {
        font-size: 48px;

        &::before {
            height: 23px;
        }
    }
}

@media (max-width: 480px) {
    .sostav__item {
        width: 100%;
    }

    .sostav__box {
        max-width: 100%;
        width: 100% !important;
    }

    .sostav__title p {
        font-size: 38px;

        &::before {
            height: 18px;
        }
    }
}
