<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body>
    <div class="page">
        <%- include('block/header') %>
        <section class="section section_message">
            <div class="container">
                <div class="message">
                    <h2 class="message__title">отзывы</h2>
                    <div class="message__box owl-carousel js-message__box">
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-1.jpg" alt=""></div>
                            <div class="message__description">Время от времени болят суставы – то локоть, то колено. Поделилась с коллегой этим, она настояла заказать Hondrostrong. Очень расхваливала это средство, ее всегда выручает. Если мне поможет, тоже буду всем советовать. Сегодня только получила, еще не пользовалась.</div>
                            <div class="message__name">Carolina Melenciano, <span>62 años</span></div>
                            <!-- <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div> -->
                        </div>
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-2.jpg" alt=""></div>
                            <div class="message__description">Я Hondrostrong для папы заказала. Он долгое время спортом занимался, теперь вот с последствиями мучается. Сам, конечно, противится лечиться (как и все мои знакомые мужчины). Но ради меня согласился, пообещал, что каждый день будет ноги и спину мазать этим средством.</div>
                            <div class="message__name">Natalia Marin, <span>40 años</span></div>
                            <!-- <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div> -->
                        </div>
                        <div class="message__item">
                            <div class="message__face"><img src="../media/message/img-3.jpg" alt=""></div>
                            <div class="message__description">Давно слышал про это средство, заказываю первый раз. Хороший сервис, вежливые специалисты. Товар доставили быстро, вовремя. Предварительно позвонили, ответили на все вопросы. Пока всем доволен. Спасибо.</div>
                            <div class="message__name">Angel Casanova, <span>51 años</span></div>
                            <!-- <div class="message__icon">
                                <img src="../media/message/icon-1.png" alt="">
                                <img src="../media/message/icon-2.png" alt="">
                            </div> -->
                        </div>
                    </div>
                    <div class="message__btn">
                        <div class="table__btn btn">ЗАКАЗАТЬ СЕЙЧАС</div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('block/footer') %>
    </div>
    <%- include('block/script') %>
</body>

</html>